.form {
    display: flex;
    flex-direction: column;
    width: 75%;

    &__labels {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        padding: 10px;
    }

    &__buttons {
        display: flex;
        justify-content: end;
        gap: 20px;
        padding: 10px;
    }
}